.tags-input {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0 2px;
  background: #FFF;
  border: 1px solid #CCC;
  width: 16em;
  border-radius: 2px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  position: relative;
}

.tags-input .tag {
  display: inline-block;
  background: #EEE;
  color: #444;
  padding: 0 4px;
  margin: 2px;
  border: 1px solid #CCC;
  border-radius: 2px;
  font: inherit;
  user-select: none;
  cursor: pointer;
  transition: all 100ms ease;
}

.tags-input .tag.selected {
  background-color: #777;
  border-color: #777;
  color: #EEE;
}

.tags-input .tag.dupe {
  transform: scale3d(1.2, 1.2, 1.2);
  background-color: #FCC;
  border-color: #700;
}

.tags-input input {
  flex: 1;
  width: 100%;
  appearance: none !important;
  display: inline-block !important;
  padding: 3px;
  margin: 0 !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  font: inherit !important;
  font-size: 100% !important;
  outline: none !important;
}

.tags-input > input:first-child {
	position: absolute!important;
	height: 0!important;
	width: 0!important;
	bottom: 0!important;
	left: 0!important;
	padding: 0!important;
}

.tags-input .selected ~ input {
  opacity: 0.3;
}

.tags-input.error input {
	color: #a94442;
	text-decoration: underline;
}
